html, body {
  height: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  text-align: center;

  &.hide {
    display: none;
  }

  .overlay-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}

body {
  margin: 0;
  font-family: sans-serif;
}

.title {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  color: white;
  background: #3F51B5;
}

.body {
  margin: 48px 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  height: 18px;
  background: #3F51B5;
  text-align: center;
  color: white;
  font-size: 14px;

  a {
    text-decoration: none;
    color: white;
  }
}

.footer-heart {
  color: red;
}

.control-group {
  margin-bottom: 18px;

  .control-label {
    width: 750px;
    margin: auto;
    text-align: left;
    color: rgba(0, 0, 0, 0.498039);
    font-size: 12.5px;
    margin-bottom: 5px;
  }

  .controls {
    width: 750px;
    margin: auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.notificationSelector {
  width: 250px !important;
  margin-bottom: 16px;
  float: left;

  &:nth-child(odd) {
    margin-right: 250px;
  }
}

.start-btn {
  text-align: center;
}

.share-btns{
  text-align: center;
  margin: 10px;
}

.share-btn{
  margin: 0 10px;
}

.fb-share-button{
  vertical-align: top;
}

.details-modal {
  text-align: center;
  line-height: 1.5;

  .dm-title {
    font-size: 35px;
    background: #3F51B5;
  }

  .dmc-body {
    margin: 30px 0;
  }

  .dmc-no-worries {
    margin: 20px 0;
    font-size: 20px;
  }

  .cricinfo-info{
    font-size: 10px;
  }
}





